<div class="container">
   <h2>{{title}}</h2>
   <hr />
   <div class="row">
       <div class="col-md-6">
           <form action="/products/edit/{{product.id}}" method="post">
        
           <div class="form-group">
               <input type="text" name="website_name" class="form-control" value={{product.website_name}} placeholder="Website Name" />
           </div><br/>
           <div class="form-group">
               <input type="text" name="price" class="form-control" value={{product.price}} placeholder="Price" />
           </div><br/>
           <div class="form-group">
               <input type="text" name="review" class="form-control" value={{product.review}} placeholder="Review" />
           </div><br/>
           <div class="form-group">
               <input type="text" name="rating" class="form-control" value={{product.rating}} placeholder="Rating" />
           </div><br/>
           <div class="form-group">
               <input type="text" name="Product_url" class="form-control" value={{product.Product_url}} placeholder="Product Url" />
           </div><br/>
           <div class="form-group">
               <input type="text" name="product_image_url" class="form-control" value={{product.product_image_url}} placeholder="Product_Img Url" />
           </div><br/>
           <div class="form-group">
               <button class="btn btn-info">Save Product</button>
           </div>
           </form>
       </div>

   </div>

</div>




